body,p,h1,h2,h3,h4,h5,h6,span,a,img,ul,li,ol,dl,dd,dt,pre,form,input,textarea,th,td,div,button,input,select,option{margin:0;padding:0;line-height: 1;}
table{ border-collapse:collapse;;border-spacing: 0;}
img{border:0;}
input{vertical-align: middle;}
code,em,strong,th{font-style: normal;font-weight: normal;}
ol,ul{list-style: none;}
th{text-align: left;}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}
button,input{background:transparent;outline: 0;border:1px solid #000;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}


/* 文本排版 */
.wh-f12{font-size: 12px;}
.wh-f13{font-size: 13px;}
.wh-f14{font-size: 14px;}
.wh-f16{font-size: 16px;}
.wh-f20{font-size: 20px;}
.wh-fb{font-weight: bold;}
.wh-fn{font-weight: normal;}
.wh-t2{text-indent: 2em;}
.wh-td-unl{text-decoration:underline;}
.wh-td-no{text-decoration: none;}

/* 定位 */
.wh-tl{text-align: left;}
.wh-tc{text-align: center;}
.wh-tr{text-align: right;}

.wh-bc{margin-left:auto;margin-right:auto;}

.wh-fl{float:left;}
.wh-fr{float:right;}

.wh-cb{clear:both;}
.wh-cl{clear:left;}
.wh-cr{clear:right;}

.wh-overh{overflow:hidden;}
.wh-vam{vertical-align: middle;}

.wh-pr{position:relative;}
.wh-pa{position:absolute;}
.wh-pf{position:fixed;}

.wh-abs-right{position:absolute;right:0;}
.wh-abs-bottom{position:absolute;bottom:0;}

.wh-zoom{zoom:1}
.wh-hidden{visibility:hidden;}
.wh-none{display:none;}

/* 长度高度 */
.w10{width:10px;}
.w20{width:20px;}
.wh-w{width:100%;}
.wh-h{height:100%;}

/* 边距 */
.wh-m_5{margin:0.5em;}
.wh-m1{margin:1em;}
.wh-m10{margin:10px;}
.wh-m15{margin:15px;}
.wh-m30{margin:30px;}

.wh-mt5{margin-top:5px;}
.wh-mt10{margin-top:10px;}
.wh-mt15{margin-top:15px;}
.wh-mt20{margin-top:20px;}
.wh-mt30{margin-top:30px;}
.wh-mt50{margin-top:50px;}
.wh-mt10{margin-top:10px;}

.wh-mb5{margin-bottom:5px;}
.wh-mb10{margin-bottom:10px;}
.wh-mb15{margin-bottom:15px;}
.wh-mb20{margin-bottom:20px;}
.wh-mb30{margin-bottom:30px;}
.wh-mb50{margin-bottom:50px;}
.wh-mb100{margin-bottom:100px;}

.wh-ml5{margin-left:5px;}
.wh-ml10{margin-left:10px;}
.wh-ml15{margin-left:15px;}
.wh-ml20{margin-left:20px;}
.wh-ml30{margin-left:30px;}
.wh-ml50{margin-left:50px;}
.wh-ml100{margin-left:100px;}

.wh-mr5{margin-right:5px;}
.wh-mr10{margin-right:10px;}
.wh-mr15{margin-right:15px;}
.wh-mr20{margin-right:20px;}
.wh-mr30{margin-right:30px;}
.wh-mr50{margin-right:50px;}
.wh-mr100{margin-right:100px;}

.wh-p_5{padding:0.5em;}
.wh-p1{padding:1em;}
.wh-p10{padding:10px;}
.wh-p15{padding:15px;}
.wh-p30{padding:30px;}

.wh-pt5{padding-top:5px;}
.wh-pt10{padding-top:10px;}
.wh-pt15{padding-top:15px;}
.wh-pt20{padding-top:20px;}
.wh-pt30{padding-top:30px;}
.wh-pt50{padding-top:50px;}
.wh-pt10{padding-top:10px;}

.wh-pb5{padding-bottom:5px;}
.wh-pb10{padding-bottom:10px;}
.wh-pb15{padding-bottom:15px;}
.wh-pb20{padding-bottom:20px;}
.wh-pb30{padding-bottom:30px;}
.wh-pb50{padding-bottom:50px;}
.wh-pb100{padding-bottom:100px;}

.wh-pl5{padding-left:5px;}
.wh-pl10{padding-left:10px;}
.wh-pl15{padding-left:15px;}
.wh-pl20{padding-left:20px;}
.wh-pl30{padding-left:30px;}
.wh-pl50{padding-left:50px;}
.wh-pl100{padding-left:100px;}

.wh-pr5{padding-right:5px;}
.wh-pr10{padding-right:10px;}
.wh-pr15{padding-right:15px;}
.wh-pr20{padding-right:20px;}
.wh-pr30{padding-right:30px;}
.wh-pr50{padding-right:50px;}
.wh-pr100{padding-right:100px;}

.wh-lh1{line-height: 1;}
.wh-lh150{line-height: 1.5;}
.wh-lh2{line-height: 2;}
.wh-lh250{line-height: 2.5;}
.wh-lh3{line-height: 3;}
.wh-lh350{line-height: 3.5;}

/* 字体颜色 */
.wh-col-d{color:#ddd;}
.wh-col-e{color:#eee;}
.wh-col-3{color:#333;}
.wh-col-9{color:#999;}
.wh-col-6{color:#666;}
.wh-col-87{color:#878787;}
.wh-col-bf{color:#bfbfbf;}
.wh-col-80{color:#808080;}
.wh-col-f{color:#fff;}
.wh-col-0{color:#000}
.wh-col-blue{color:#5dbaff;}
.wh-col-red{color:#DAA790;}
